{% extends 'layouts/bandwidth.html' %}

{% block title %} {{interface}} {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<script>

window.onload =  function() {
// Bandwidth In Chart

var dataPoints = [];
var chart1 = new CanvasJS.Chart("interfaceUsageIn", {
	theme: "dark2",
	title: {
		text: "{{interface}} (Mbps In)"
	},
	axisX:{
       interval: 1,
       minimum: 0,
       title :"Poll (10 Sec)",
        },
	data: [{
		type: "spline",
		dataPoints: dataPoints,
		color: "yellow",
	}],
	axisY: [
      {
      title :"Mbps In ",
      }
    ],
});

// Initial Values

var xValue = 0;
var yValue = 0;
var newDataCount = 1
updateData();

 function inBandwidth(data) {

     function getBandwidth(){
         getBandwidthIn( "{{interface}}", function(response) {
               if(newDataCount != 1) {
                    $.each(data, function(key, value) {
                        dataPoints.push({x: value[0], y: parseInt(response)});
                        xValue++;
                        yValue = parseInt(response);
                    });
                } else {
                    // Bypass first bandwidth poll as there is no previous poll vale to calculate. Map as 0 on graph
                    if ( xValue != 0  && response >= 0){
                        //dataPoints.shift();
                        dataPoints.push({x: data[0][0], y: parseInt(response)});
                        xValue++;
                        yValue = parseInt(response);
                    }
                    else{
                        //dataPoints.shift();
                        dataPoints.push({x: data[0][0], y: parseInt(0)});
                        xValue++;
                        yValue = parseInt(0);
                    }
                }
                   });
                          }

    getBandwidth()
    newDataCount = 1
    chart1.render();
    setTimeout(updateData, 15000);

}

     function updateData() {
    $.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart="+xValue+"&ystart="+yValue+"&length="+newDataCount+"type=json", inBandwidth);
 }


//Bandwidth Out Chart

var dataPointsOut = [];
var chart2 = new CanvasJS.Chart("interfaceUsageOut", {
    theme: "dark2",
    title: {
        text: "{{interface}} (Mbps Out)"
    },
    axisX:{
       interval: 1,
       minimum: 0,
       title :"Poll (10 Sec)",
        },
    data: [{
        type: "spline",
        dataPoints: dataPointsOut,
        color: "yellow",
    }],
    axisY: [
      {
      title :"Mbps Out ",
      }
    ],
});

var xValueOut = 0;
var yValueOut = 0;
var newDataCountOut = 1
updateDataOut();


 function outBandwith(data) {

     function getBandwidth(){
         getBandwidthOut( "{{interface}}", function(response) {
             if(newDataCountOut != 1) {
                $.each(data, function(key, value) {
                    dataPointsOut.push({x: value[0], y: parseInt(response)});
                    xValueOut++;
                    yValueOut = parseInt(response);
                });
            } else {
                // Bypass first bandwidth poll as there is no previous poll vale to calculate. Map as 0 on graph
                if (xValueOut != 0  && response >= 0){
                    //dataPointsOut.shift();
                    dataPointsOut.push({x: data[0][0], y: parseInt(response)});
                    xValueOut++;
                    yValueOut = parseInt(response);
                    }
                else{
                    //dataPointsOut.shift();
                    dataPointsOut.push({x: data[0][0], y: parseInt(0)});
                    xValueOut++;
                    yValueOut = parseInt(0);
                }

            }
                });
                      }

    getBandwidth()
    newDataCountOut = 1
    chart2.render();
    setTimeout(updateDataOut, 15000);

}

 function updateDataOut() {
        $.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart="+xValueOut+"&ystart="+yValueOut+"&length="+newDataCountOut+"type=json", outBandwith);
    }

// In discards chart

var dataPointsDiscardsIn = [];
var discardChartIn = new CanvasJS.Chart("interfaceDiscardsIn", {
	theme: "dark2",
	title: {
		text: "{{interface}} (Discards In)"
	},
	axisX:{
       interval: 1,
       minimum: 0,
       title :"Poll (10 Sec)",
        },
	data: [{
		type: "spline",
		dataPoints: dataPointsDiscardsIn,
		color: "red",
	}],
	axisY: [
      {
      title :"Discards In ",
      }
    ],
});

// Initial Values

var xValueDiscardIn = 0;
var yValueDiscardIn = 0;
var newDataCountDisIn = 1
updateDataDiscardIn();


 function inDiscard(data) {

     function getDiscards(){
         getDiscardsIn("{{interface}}", function(response) {
               if(newDataCountDisIn != 1) {
                    $.each(data, function(key, value) {
                        dataPointsDiscardsIn.push({x: value[0], y: parseInt(response)});
                        xValueDiscardIn++;
                        yValueDiscardIn = parseInt(response);
                    });
                } else {
                    // Bypass first bandwidth poll as there is no previous poll vale to calculate. Map as 0 on graph
                    if ( xValueDiscardIn != 0 && response >= 0){
                        //dataPoints.shift();
                        dataPointsDiscardsIn.push({x: data[0][0], y: parseInt(response)});
                        xValueDiscardIn++;
                        yValueDiscardIn = parseInt(response);
                    }
                    else {
                        //dataPoints.shift();
                        dataPointsDiscardsIn.push({x: data[0][0], y: parseInt(0)});
                        xValueDiscardIn++;
                        yValueDiscardIn = parseInt(0);
                        }
                }
                   });
                          }

    getDiscards()
    newDataCountDisIn = 1
    discardChartIn.render();
    setTimeout(updateDataDiscardIn, 15000);

}

     function updateDataDiscardIn() {
    $.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart="+xValue+"&ystart="+yValue+"&length="+newDataCountDisIn+"type=json", inDiscard);
 }

//Out discard chart

var dataPointsDisOut = [];
var discardChartOut = new CanvasJS.Chart("interfaceDiscardsOut", {
    theme: "dark2",
    title: {
        text: "{{interface}} (Discards Out)"
    },
    axisX:{
       interval: 1,
       minimum: 0,
       title :"Poll (10 Sec)",
        },
    data: [{
        type: "spline",
        dataPoints: dataPointsDisOut,
        color: "red",
    }],
    axisY: [
      {
      title :"Discards Out ",
      }
    ],
});

var xValueDiscardOut = 0;
var yValueDiscardOut = 0;
var newDataCountDisOut = 1
updateDataDiscardOut();

 function outDiscards(data) {

     function getDiscards(){
         getDiscardsOut( "{{interface}}", function(response) {
             if(newDataCountDisOut != 1) {
                $.each(data, function(key, value) {
                    dataPointsDisOut.push({x: value[0], y: parseInt(response)});
                    xValueDiscardOut++;
                    yValueDiscardOut = parseInt(response);
                });
            } else {
            // Bypass first bandwidth poll as there is no previous poll vale to calculate. Map as 0 on graph
            if(xValueDiscardOut != 0  && response >= 0){
                //dataPointsOut.shift();
                dataPointsDisOut.push({x: data[0][0], y: parseInt(response)});
                xValueDiscardOut++;
                yValueDiscardOut = parseInt(response);
                }
            else{
                //dataPointsOut.shift();
                dataPointsDisOut.push({x: data[0][0], y: parseInt(0)});
                xValueDiscardOut++;
                yValueDiscardOut = parseInt(0);
                }
            }
                });
                      }

    getDiscards()
    newDataCountDisOut = 1
    discardChartOut.render();
    setTimeout(updateDataDiscardOut, 15000);

    }

         function updateDataDiscardOut() {
        $.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart="+xValueDiscardOut+"&ystart="+yValueDiscardOut+"&length="+newDataCountDisOut+"type=json", outDiscards);
    }

}

</script>


<div class="main-content" id="panel">
    <div class="row">
        <div class="col-xl-12">
            <div id="interfaceUsageIn" style="height: 200px; width: 100%;"></div>
        </div>
    </div>
    <br/>
        <div class="row">
        <div class="col-xl-12">
            <div id="interfaceDiscardsIn" style="height: 200px; width: 100%;"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xl-12">
            <div id="interfaceUsageOut" style="height: 200px; width: 100%;"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xl-12">
            <div id="interfaceDiscardsOut" style="height: 200px; width: 100%;"></div>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}


{% endblock javascripts %}


